name: Deploy to App Engine

on:
  push:
    branches:
      - deploy-gcloud

jobs:
  deploy:
    name: Deploy to App Engine
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Deploy to App Engine
        uses: google-github-actions/deploy-appengine@v2
        with:
          project_id: 'tribal-terra-446412-n4'
          env_vars: |-
            GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}
